<h1><%= @cocktail.name %></h1>
<p><%= @cocktail.description %></p>


<h2>Liste des ingrédients</h2>

<% @doses.each do |dose| %>
  <p><%= dose.ingredient.name %> // <%= dose.amount %> <%= link_to 'Destroy', [dose.cocktail, dose], method: :delete %></p>
<% end %>

<h2>Ajouter un ingrédient à la recette</h2>

<%= form_for([@cocktail, @dose]) do |f| %>
  <p><%= f.label :ingredient %> <%= f.collection_select :ingredient_id, Ingredient.all, :id, :name %></p>
  <p><%= f.label :amount %> <%= f.text_field :amount %></p>
  <%= f.submit %>
<% end %>


<%= link_to 'retour', cocktails_path%>